.hero-content{
  text-align: center;
  padding: 50px 0;
}

#downloadButton {
  background-color: #6c8bac;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 22px;
}

body {
  background-color: #737c87;
}
